package-db: /home/george/todo/todohs/cabal-dev/packages-7.0.3.conf
local-repo: /home/george/todo/todohs/cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /home/george/.cabal/packages
world-file: /home/george/.cabal/world
build-summary: /home/george/todo/todohs/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /home/george/todo/todohs/cabal-dev/
install-dirs global
  prefix: /home/george/todo/todohs/cabal-dev/